<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h5>NAMA <%= nama %></h5><p></p>
    <h5>kelas <%= kelas %></h5><p></p>
    <h5>alamat <%= alamat %></h5><p></p>
    
</body>
</html>